<% provide(:title, 'Users') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </section>
    <section class="top-three">
      <ul class="users">
        <%= render @users[0..2] %>
      </ul>
    </section>
    <section class="top-three">
      <ul class="users">
        <%= render @users[0..2] %>
      </ul>
    </section>
  </aside>
  <div class="col-md-8">
  <%= form_with(url: users_path, method: "GET") do |form| %>
    <%= form.label :query, "Search by name:" %>
    <%= form.text_field :query %>
    <%= form.submit 'Search', name: nil %>
  <% end %>

  <%= will_paginate %>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= will_paginate %>
  </div>
</div>
