<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <div>
        <%= render 'follow_form' if logged_in? %>
      </div>
    </section>
    <section class='stats'>
    <% if !@users.nil? && @users.any? %>
      <div class="user_avatars">
        <% @users.each do |user| %>
          <%= link_to gravatar_for(user, size: 30), user %>
        <% end %>
      </div>
    <% elsif !@restaurants.nil? && @restaurants.any? %>
      <div class="user_avatars">
        <% @restaurants.each do |restaurant| %>
          <%= link_to gravatar_for_restaurant(restaurant, size: 30), restaurant %>
        <% end %>
      </div>
    <% end %>
  </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if !@users.nil? && @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% elsif !@restaurants.nil? && @restaurants.any? %>
      <ul class="restaurants restaurants-in-search">
        <%= render @restaurants %>
      </ul>
      <%= will_paginate @restaurants %>
    <% end %>
  </div>
</div>