<% provide(:title, 'All Restaurants') %>
<h1>All Restaurants</h1>

<%= form_with(url: restaurants_path, method: "GET") do |form| %>
  <%= form.label :query, "Search by name:" %>
  <%= form.text_field :query %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<%= will_paginate %>

<ul class="users">
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= gravatar_for_restaurant restaurant, size: 50 %>
      <%= link_to restaurant.name, restaurant %>
      <% if current_user.admin? %>
        | <%= link_to "delete", restaurant, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>