<% provide(:title, 'All Restaurants') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </section>
    <section class="top-three">
      <p>Restaurants You Might Like</p>
      <hr>
      <ul class="restaurants">
        <%= render @restaurants_you_might_like[0..2] %>
      </ul>
    </section>
    <section class="top-three">
      <ul class="restaurants">
        <%= render 'shared/mini_leaderboard' %>
      </ul>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="map-interactive">
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=7&size=600x600&center=42.407211,-71.382439&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
    </section>
  </div>
</div>