<% provide(:title, 'All Restaurants') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </section>
    <section class="top-three">
      <p>Restaurants You Might Like</p>
      <hr>
      <ul class="restaurants">
        <%= render @restaurants_you_might_like[0..2] %>
      </ul>
    </section>
    <section class="top-three">
      <ul class="restaurants">
        <%= render 'shared/mini_leaderboard' %>
      </ul>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="map-interactive">
      <div id="map">
        <% provide :head_tags do %>
          <meta name='turbo-visit-control' content='reload'>
          <script>
            document.addEventListener("DOMContentLoaded", function(){
              function initMap(lat, lng) {
                var myCoords = new google.maps.LatLng(lat, lng);
                var mapOptions = {
                  center: myCoords,
                  zoom: 10
                };
                var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                var data = '<%= @restaurants.to_json %>';
                var restaurantsAsArray = JSON.parse(data.replace(/&quot;/g,'"'));

                // Loop over the array using a for loop
                for (var i = 0; i < restaurantsAsArray.length; i++) {
                  var restaurant = restaurantsAsArray[i];
                  var position = new google.maps.LatLng(parseFloat(restaurant["latitude"]), 
                                                        parseFloat(restaurant["longitude"]));
                  var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: restaurant["name"]
                  });
                }
              }  
              map = initMap(42.407211, -71.382439) // MA location
            });
          </script>
        <% end %>
      </div>
    </section>
  </div>
</div>