<% provide(:title, 'Leaderboard') %>
<div class="row">
  <aside class="col-md-4">
    <div class="leaderboard-aside">
      <h1>Leaderboard</h1>
      <%= form_with(url: leaderboard_path, method: "GET") do |form| %>
        <%= form.label :query, "Top Restaurants" %>
        <%= select(:query, :sort_by, [['Now'       , 1], 
                                      ['This Week' , 2],
                                      ['This Month', 3],
                                      ['This Year' , 4]]) %>
        <%= form.submit 'Search', class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <div class="top-three restaurants">
      <p>Must Go!</p>
      <hr>
      <%= render @restaurants[0..2].map {|rest| Restaurant.find_by id: rest.id} %>
    </div>
  </aside>
  <div class="col-md-8">
    <div class="leaderboad-list">
      <% i = 1 %>
      <%= will_paginate %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Restaurant</th>
            <th scope="col">Rating</th>
            <th scope="col">Followers</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.map { |rest| Restaurant.find_by id: rest.id}.each do |restaurant| %>
          <tr>
            <th scope="row"><%= i %></th>
            <td>
              <%= gravatar_for_restaurant restaurant, size: 50 %>
              <%= link_to restaurant.name, restaurant %>
            </td>
            <td><%= restaurant.average_rating %></td>
            <td><%= restaurant.restaurant_followers.count %></td>
            <% i += 1 %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate %>
    </div>
  </div>
</div>