<% provide(:title, @restaurant.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class='restaurant-profile-aside'>
      <%= render @restaurant %>
      <section class="stats">
        <%= render 'shared/restaurant_stats' %>
      </section>
      <div>
        <%= render 'follow_form' if logged_in? %>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
  <% if @restaurant.microposts.any? %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>
</div>